<ng-container *ngIf="mycategories.length>0">
  <div class="row">
    <div class="col-sm-4" *ngFor="let category of mycategories">
      <p class="capitalize">{{category.name}}</p>
      <img class="image" [src]="category.image"/>

            <div class="row">
                      <div class="col-sm-12" *ngFor="let item of myitemsarray">
                          <div  *ngIf="item.category_id==category.id">
                          <a href="javascript:void(0)" class="capitalize" (click)="togglehiddenitem(item.id)">{{item.name}}</a> <br>
                          <div [hidden]="hide_item[item.id]">
                          <img class="image_item" [src]="item.image"/>
                          <div class="dotted_text" class="capitalize">
                          <p>Description: {{item.description}}</p>
                          <p>Price: {{item.price}} euros</p>
                          <p>Serving time: {{item.serving_time}}</p>
                          <p>Served with: {{item.served_with}}</p>
                          </div>
                         </div>
                        </div>
                      </div>
            </div>
    </div>
  </div>

</ng-container>


 <ng-container *ngIf="mycategories.length==0">
No menu card is currently available
   </ng-container>


