.image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height:300px;

}
.capitalize {
    text-transform: capitalize;
}

.image_item {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height:200px;

}

.dotted_text {

    outline: 2px dotted grey;
    max-width: 200px;
}


