.stiched {
   padding: 20px;
   margin: 10px;
   background: #d0cccc;
   color: #949090;
   font-size: 15px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #b4bcc2, 2px 1px 6px 4px #b4bcc2;
   text-shadow: -1px -1px #d0cccc;
   font-weight: normal;
}


.image {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height:100px;

}
.capitalize {
    text-transform: capitalize;
}

.form-group {
  width: 50%;
}

li {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 20px;

}

p {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
