<div>
  <button class="btn btn-info" (click)="getAllServices()" style="float: right;">Manage Registered Business</button>
</div>


<ng-container *ngIf="!service.name && show_registration_form">
<form >
  <div class="form-group">
   <label>Email</label>
<input class="form-control" type="text"  id="name" [(ngModel)]="user.email" name="name">
  </div>
  <div class="form-group">
   <label>Business name</label> <input class="form-control" #name type="text"/>
  </div>
  <div class="form-group">
   <label>Business Type</label> <input class="form-control" #type_business type="text"/>
  </div>
  <div class="form-group">
   <label>Shop number</label> <input class="form-control" #shop_number type="text"/>
  </div>
  <div class="form-group">
   <label>Street Name</label> <input class="form-control" #street_name type="text"/>
  </div>
    <div class="form-group">
   <label>City:</label> <input  class="form-control" #city type="text"/>
  </div>
  <div class="form-group">
   <label>Postal Code</label> <input  class="form-control" #zip_code type="text"/>
  </div >
    <div class="form-group">
   <label>Opening Hour</label> <input class="form-control" #opening_hour type="text"/>
  </div>
      <div class="form-group">
   <label>Closing Hour</label> <input class="form-control" #closing_hour />
  </div>
    <div class="form-group">
   <label>Holiday</label> <input class="form-control" #holiday />
  </div>
  <div>
  <button class="btn btn-success" type="submit" (click)="onSubmit(name.value, type_business.value, shop_number.value, street_name.value, city.value, zip_code.value, opening_hour.value, closing_hour.value, holiday.value )">Register</button>
</div>
</form>
</ng-container>
<ng-container *ngIf="service.name && services.length>0">
  Thanks for your registration. Lets create an amazing Menu card for your business

</ng-container>

<ng-container *ngIf="!show_registration_form && services.length>0">

  <p>List of Registered Business</p>
  <ul *ngFor="let service of services">
    <div [hidden]="hideme[service.id]" class="capitalize">
    <li > Business name: {{service.name}}<br>
    Business type: {{service.type_business}}<br>
    Address: Shop#{{service.shop_number}}, {{service.street_name}},{{service.city}}-{{service.zipcode}}</li>
      <div>
    <button class="btn btn-danger" (click)="unregisterBusiness(this.service)">Delete</button>
    <button class="btn btn-warning" (click)="showupdateform(service.id)"> Update Info </button><br><br>
   <div>
  <button class="stiched" [routerLink]="['/createmenu', service.user_id, service.id]">Create/Edit/Play
    <img class="image" [src]="LOGO" />

     <br>
      <br>
  </button>
   </div>


 <div class="container" [hidden]="hide_update_form[service.id]">
    <form >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="service.name" name="name" #name="ngModel">
      </div>
       <div class="form-group">
        <label for="Business Type">Business Type</label>
        <input type="text" class="form-control" id="Business Type" required [(ngModel)]="service.type_business" name="type_business" #type_business="ngModel">
      </div>
       <div class="form-group">
        <label for="Shop number">Shop Number</label>
        <input type="text" class="form-control" id="Shop number" required [(ngModel)]="service.shop_number" name="shop_number" #shop_number="ngModel">
      </div>
       <div class="form-group">
        <label for="Street Name">Street Name</label>
        <input type="text" class="form-control" id="Street Name" required [(ngModel)]="service.street_name" name="street_name" #street_name="ngModel">
      </div>
       <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" id="City" required [(ngModel)]="service.city" name="city" #city="ngModel">
      </div>
       <div class="form-group">
        <label for="Postal Code">Postal Code</label>
        <input type="text" class="form-control" id="Postal Code" required [(ngModel)]="service.zipcode" name="zipcode" #zipcode="ngModel">
      </div>
       <div class="form-group">
        <label for="Opening Hour">Opening Hour</label>
        <input type="text" class="form-control" id="Opening Hour" required [(ngModel)]="service.opening_hour" name="opening_hour" #opening_hour="ngModel">
      </div>
       <div class="form-group">
        <label for="Closing Hour">Closing Hour</label>
        <input type="text" class="form-control" id="Closing Hour" required [(ngModel)]="service.closing_hour" name="closing_hour" #opening_hour="ngModel">
      </div>
      <div class="form-group">
        <label for="Holiday">Holiday</label>
        <input type="text" class="form-control" id="Holiday" required [(ngModel)]="service.holiday" name="holiday" #holiday="ngModel">
      </div>
      <button class="btn btn-success" type="submit" class="btn btn-default" (click)="updateService(name.value, type_business.value, shop_number.value, street_name.value, city.value, zipcode.value, opening_hour.value, closing_hour.value, holiday.value)">Save Changes</button>
    </form>
</div>

</div>
    <br>
    </div>
   </ul>

  <div>
  <button class="btn btn-info" (click)="toggleshowRegistrationForm()">Register New Business</button>
  </div>
</ng-container>

<ng-container *ngIf="!show_registration_form && error_message">
  <div>
  <p>No Business is currently registered</p>
  </div>
  <div>
  <button class="btn btn-info" (click)="toggleshowRegistrationForm()">Register New Business</button>
  </div>
</ng-container>
