Login
<form >
  <div>
   <label>Email:</label> <input #email required/>
  </div>
    <div>
<label>Password:</label> <input #password required/>
  </div>
  <div>
  <button type="submit" (click)="onSubmit(email.value, password.value)">Submit</button>
</div>
</form>
<div>
  <a href="javascript:void(0)" (click)="toggleshowRegistration()">New User?</a>
  </div>
<ng-container *ngIf="login_error.message">
  <div>
    <span>{{login_error.message}}</span>
  </div>
</ng-container>
