<ng-container *ngIf="!user.email">
User Registration
<form >
  <div>
   <label>Email:</label> <input #email required/>
  </div>
    <div>
<label>Password:</label> <input #password required/>
  </div>
  <div>
  <label>Password Confirmation:</label> <input #password_confirmation required/>
  </div>
  <div>
  <button type="submit" (click)="onSubmit(email.value, password.value, password_confirmation.value)">Submit</button>
</div>
</form>
</ng-container>
<ng-container *ngIf="errors">
  <div *ngFor="let error of errors">
    <span>{{error}}</span>
  </div>
</ng-container>
<ng-container *ngIf="user.email">
 <p>User has been successfully registered</p>
 <a href="http://localhost:4200/">Click to login</a>
</ng-container>

