/* center search */

.navbar-custom {
    position: relative;
}
.navbar-custom {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}




