<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mitigreat</a>
    </div>

<ng-container *ngIf="user.email">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" class="active">
      <ul class="nav navbar-nav">
        <li ><a routerLink="/search">Search</a></li>


      </ul>
<ul class="nav navbar-nav">

  <li><a routerLink="/registerbusiness">Publish your business</a></li>
  </ul>
  <ul class="nav navbar-nav ">
  </ul>

      <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">My info</a></li>
            <li class="divider"></li>
            <li><a href="#">Rewards</a></li>
            <li class="divider"></li>
            <li><a href="#">Unreviewed orders</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" (click)="onSubmit()">Logout</a></li>
      </ul>
    </div>

</ng-container>
  </div>
</nav>


<ng-container *ngIf!="user.email && !show_registration">
<div class="container">
<app-login (userOut)="userOut($event)" (showregistrationOut)= "showregistrationOut($event)" ></app-login>
</div>
</ng-container>

<ng-container *ngIf!="user.email && show_registration">
<div class="container">
<app-registeruser (userOut)="userOut($event)"></app-registeruser>
</div>
</ng-container>
<ng-container *ngIf="user.email">
<div class="container">
  <router-outlet></router-outlet>
</div>
</ng-container>




