
<div>
  </div>
<form class="form-inline global-search" role="form" >
  <div class="form-group">
    <label class="sr-only" >Business name</label>
      <input type="search" class="form-control" #search placeholder="Business name" >
  </div>
  <button type="submit" id="s" class="btn btn-default" (click)="onSubmit(search.value)"><span class="glyphicon glyphicon-search"></span>
  </button>
</form>
<div class="container">
  </div>


  <ng-container *ngIf="searches.length>0">
  <div>
  <p>List of searched results</p>
  <ul *ngFor="let search of searches">
    <li> Business name: {{search.name}}<br>
      {{search.id}}<br>
    Business type: {{search.type_business}}<br>
    Address: {{search.street_name}}, {{search.city}}-{{search.zipcode}}
  </li>
  <div>
   <button class="stiched" [routerLink]="['/viewmenu', search.id]">View Menu
    <img class="image" [src]="LOGO" />
  </button>
</div>
   </ul>

 </div>
   </ng-container>






