.global-search {
    text-align:center;
    margin-top: 100px;
    padding:10px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }
.stiched {
   padding: 20px;
   margin: 10px;
   background: #d0cccc;
   color: #949090;
   font-size: 15px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #b4bcc2, 2px 1px 6px 4px #b4bcc2;
   text-shadow: -1px -1px #d0cccc;
   font-weight: normal;
}


.image {
    height: auto;
    width: auto;
    max-width: 75px;
    max-height:75px;

}



@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }

}


