 <div>
  <button (click)="addCategory()" style="float: right;">Add category</button>
  <button (click)="previewcard()" style="float: right;">Preview Menu card </button>
</div>


 <ng-container *ngIf="mycategories.length>0">
list of categories
 <div *ngFor="let category of mycategories">
  <ul>
  <li class="capitalize">Category Name: {{category.name }}<br>
  <img class="image" [src]="category.image"/></li><br>

<button  (click)="removeCategory(category.id, category)">Delete </button>
<button>Update</button>


<div [hidden]="hide_item_added[category.id]">
          <div *ngFor="let item of myitemsarray">
         <div *ngIf="item.category_id==category.id">
                <ul>
                <li>{{item.name}}<br>
                <img class="image" [src]="item.image"/></li><br>
                </ul>
                <button (click)="removeItem(item.id, item)">Delete item</button>
                <button >Update item</button><br>
            </div>
        </div>

</div>
<button [hidden]="!hide_item[category.id]" (click)="showmenuItem(category)">Add a menu item</button>
<button [hidden]="hide_item[category.id]" (click)="showmenuItem(category)">Close menu item form</button><br>
  </ul>

<form [hidden]="hide_item[category.id]">
   <p>Add a new menu item for {{category.name}} category</p>
  <div>
   <label>Item Name</label>
<input type="text" #name>
</div>
<div>
  <label>Item's Photo</label>
  <input type="file" multiple (change)="fileChange(input)" #input />
</div>
<div *ngFor="let file_src of file_srcs; let i = index">
  <img [attr.src]='file_src' alt=""/>
</div>
  <div>
   <label>Item Description</label>
<input type="text" #description>
</div>
  <div>
   <label>Serving time</label>
<input type="text" #serving_time>
</div>
  <div>
   <label>Price</label>
<input type="text" #price>
</div>
  <div>
   <label>Item is served with</label>
<input type="text" #served_with>
</div>

  <div>
  <button type="submit" (click)="registeritem(category.id, name.value, description.value, serving_time.value, price.value, served_with.value)" >Save Item without ingredients</button>
</div>
  <div>
  <button type="submit" >Add Ingredients</button>
</div>
</form>

  </div>

   </ng-container>

 <ng-container *ngIf="mycategories.length==0">
No menu card is currently available
   </ng-container>





<ng-container>
<div [hidden]="hide">
<form>
   <p>New Category</p>
  <div>
   <label>Category Name</label>
<input type="text" #name>
</div>
<div>
   <label>Category's Photo</label>
  <input type="file" multiple (change)="fileChange(input)" #input />
</div>
<div *ngFor="let file_src of file_srcs; let i = index">
  <img [attr.src]='file_src' alt=""/>
</div>
  <div>
  <button type="submit" (click)="registerCategory(name.value)">Save Category</button>
</div>
</form>
</div>
</ng-container>







